<% if @user.admin %>
<%= "ADMIN" %>
<% end %>

<br>Name: <%= @user.name %>
<br>Tickets: <%= @user.tickets %>
<br>Mood: <%= @user.mood %>
<br>Height: <%= @user.height %> inches
<div>
<br><%= link_to "Edit User", edit_user_path %>
<br><%= link_to "See Attractions", attractions_path %>
</div>
